<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title> Bússola Tour - Destinos</title>
  <link rel="icon" href="./Imagens/bussola_logo.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../Css/estiloproj.css">
  <link rel="stylesheet" href="../Css/estiloDestinos.css">
  <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
  <!--Menu-->
  <nav class="navbar navbar-light bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="../index.html">
      <img src="../Imagens/bussola_logo.png" width="30px">
      Bússola Tour
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
      aria-expanded="false" aria-label="navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="../index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="./Destinos.html" class="nav-link">Destinos</a></li>
        <li class="nav-item"><a href="./Promocoes.html" class="nav-link">Promoções</a></li>
        <li class="nav-item"><a href="./Contato.html" class="nav-link">Contato</a></li>
        <li class="nav-item active"><a href="./login.html" class="nav-link">Entre ou Cadastre-se</a></li>
      </ul>
    </div>
  </nav>
  <!--Menu-->

  <header class="ml-5 my-2">
    <div class="tituloRevelar">
      <h2>Destinos</h2>
      <h6>Encontre sua próxima parada.</h6>
    </div>
    <hr class="bg-primary">
  </header>

  <main>
    <!--Boxes de Destinos Nacionais -->
    <section>
      <h2 class=" ml-5 my-5 tituloRevelar">Nacionais</h2>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/salvadorimg.jpg" width="200px"
          alt="Imagem de Salvador">
        <div class="media-body">
          <h5 class="mt-0">Salvador</h5>
          <p>Emoldurada pela baía de Todos os Santos e por praias de grande beleza natural, Salvador, patrimônio
            cultural
            da
            humanidade,
            preserva um conjunto arquitetônico que representa um pedaço vivo da história do Brasil, de que foi a
            primeira
            capital.
          </p>
        </div>
      </div>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/rioimg.jpg" width="200px"
          alt="Imagem do Rio de Janeiro">
        <div class="media-body">
          <h5 class="mt-0">Rio de Janeiro</h5>
          <p>Acorde cedo para caminhar na Lagoa Rodrigo de Freitas ou no calçadão de Ipanema. Para driblar o calor, dê
            um
            mergulho no
            Leblon e tome um chope num boteco, como o Jobi. O tempo é curto, então escolha.</p>
        </div>
      </div>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/curitiba.jpg" width="200px" alt="Imagem de Curitiba">
        <div class="media-body">
          <h5 class="mt-0">Curitiba</h5>
          <p>Curitiba é a cidade brasileira modelo em sustentabilidade. Eleita como “Cidade Verde”, a capital paranaense
            é
            a
            única do Brasil a dividir o título com outros destinos internacionais! As áreas verdes por lá fazem sucesso
            entre os moradores e visitantes com os parques e bosques.</p>
        </div>
      </div>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/saopauloimg.jpg" width="180px"
          alt="Imagem de São Paulo">
        <div class="media-body">
          <h5 class="mt-0">São Paulo</h5>
          <p>São Paulo é uma cidade muito procurada para o turismo de negócios, mas isso não quer dizer que os
            visitantes
            não possam passar algum tempo turistando de. A capital paulista oferece atrações extremamente
            diversificadas,
            muitas desconhecidas até pelos próprios moradores.</p>
        </div>
      </div>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/portoalegreimg.jpg" width="200px"
          alt="Imagem de Porto Alegre">
        <div class="media-body">
          <h5 class="mt-0">Porto Alegre</h5>
          <p>A cidade de Porto Alegre tem muito a oferecer em turismo e lazer, além dos pontos turísticos de Porto
            Alegre,
            há também os passeios e tours. Você pode visitar as belas arenas da dupla Grenal, passear de barco pelo
            Guaíba.
          </p>

        </div>
      </div>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/aracajuimg.jpg" width="200px"
          alt="Imagem de Aracaju">
        <div class="media-body">
          <h5 class="mt-0">Aracaju</h5>
          <p>Aracaju, terra dos cajueiros e dos papagaios, a primeira cidade planejada do Brasil, uma das
            capitais mais promissoras da região nordeste. Prédios históricos, museus, Centro de Artesanato, até mesmo o
            comércio local é detentor de
            particularidades somente encontradas na região
          </p>
        </div>
      </div>
    </section>
    <!--Boxes de Destinos Nacionais -->
    <section>
      <h2 class="ml-5 my-5 tituloRevelar">Internacionais</h2>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/dublinimg.jpg" width="200px" alt="Imagem de Dublin">
        <div class="media-body">
          <h5 class="mt-0">Dublin</h5>
          <p>Fundada pelos vikings no início do século IX, a capital irlandesa foi o cenário de guerras e conflitos até
            chegar a definir sua própria identidade no século XX. Dublin é hoje uma capital moderna e
            rica em história, capaz de cultivar os visitantes com a mistura das tradições gaélicas e uma constante
            adaptação
            ao mundo moderno.
          </p>
        </div>
      </div>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/ibizaimg.jpg" width="200px" alt="Imagem de Ibiza">
        <div class="media-body">
          <h5 class="mt-0">Ibiza</h5>
          <p>Ibiza, Espanha, é um dos destinos mais badalados e animados de toda a Europa, principalmente, na alta
            temporada,
            quando a ilha fica ainda mais vibrante e cheia de gente bonita. Se está planejando uma viagem para esse
            arquipélago, que reúne paisagens naturais de tirar o fôlego, praias
            paradisíacas e muita festa, este artigo é o que procura.
          </p>
        </div>
      </div>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/lisboaimg.jpg" width="200px" alt="Imagem de Lisboa">
        <div class="media-body">
          <h5 class="mt-0">Lisboa</h5>
          <p>Lisboa é uma cidade linda, cheia de pontos turísticos históricos repletos de tradições, além de locais
            fantásticos para apreciar a beleza arquitetônica da cidade, bem como as suas belezas naturais, como a
            presença
            do rio Tejo ao longo da cidade, que já é um deslumbre para quem visita à capital portuguesa.
          </p>
        </div>
      </div>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/novayorkimg.jpg" width="200px"
          alt="Imagem de Nova York">
        <div class="media-body">
          <h5 class="mt-0">Nova York</h5>
          <p>Há várias Nova York dentro da mesma cidade. Tem a Nova York do luxo em Uptown; a alternativa em East e West
            Village; a fashion em Chelsea e Meatpacking District; a que aparece nos filmes em Midtown; o centro
            econômico do mundo em Lower Manhattan; a gospel no Harlem; a descolada na Union Square, Flatiron District e
            Gramercy Park e
            a de ruas bucólicas no Brooklyn.
          </p>
        </div>
      </div>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/orlandoimg.png" width="200px"
          alt="Imagem de Orlando">
        <div class="media-body">
          <h5 class="mt-0">Orlando</h5>
          <p>Orlando é conhecida como a capital mundial da diversão e seus principais atrativos são os parques
            temáticos, é claro. São eles que dão vida ao lugar e fazem de Orlando esse sucesso todo. Há vários parques
            para conhecer e
            todos têm atrações variadas, que agradam aos públicos infantil, jovem e adulto.
          </p>
        </div>
      </div>

      <div class="media container container-fluid border-primary boxDestinos">
        <img class="align-self-center mr-3 rounded" src="../Imagens/roma-img.jpg" width="200px" alt="Imagem de Roma">
        <div class="media-body">
          <h5 class="mt-0">Roma</h5>
          <p>Um parque de diversões para apreciadores da história e arquitetura. Um tesouro inesgotável para amantes da
            arte e cultura. Uma metrópole eletrizante de trânsito caótico. Um agitadíssimo centro com tudo do melhor
            para
            boêmios, modernos, glutões e fashionistas. Roma consegue ser tudo isso e muito mais.
          </p>
        </div>
      </div>
    </section>
  </main>

  <!--Rodapé-->
  <hr class="mt-5">
  <footer class="container rodape">
    <div class="container col-4" id="boxRedes">
      <a href="#" class="ml-2"><img src="../Imagens/facebook_icon.png" width="40px" class="tamRedes"
          alt="ícone facebook"></a>
      <a href="#" class="ml-2"><img src="../Imagens/Instagram_icon.png" width="40px" class="tamRedes"
          alt="ícone instagram"></a>
      <a href="#" class="ml-2"><img src="../Imagens/whatsapp_icon.png" width="40px" class="tamRedes"
          alt="ícone whatsapp"></a>
      <a href="#" class="ml-2"><img src="../Imagens/email_icon.png" width="40px" class="tamRedes" alt="ícone email"></a>
      <a href="#" class="ml-2"><img src="../Imagens/telegram_icon.png" width="40px" class="tamRedes"
          alt="ícone telegram"></a>
      <a href="#" class="ml-2"><img src="../Imagens/linkedin_icon.png" width="40px" class="tamRedes"
          alt="ícone linkedin"></a>
    </div>

    <p>Proporcionado Viagens de Qualidade</p>
    <span>&copy;Bússola Tour</span>
  </footer>

  <script src="../Scripts/ScrollReveal.js"></script>
</body>

</html>