<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title> Bússola Tour</title>
    <link rel="icon" href="./Imagens/bussola_logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./Css/estiloproj.css">
    <link rel="stylesheet" href="./Css/paralax.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
    <!--Menu-->
    <nav class="navbar navbar-light bg-primary navbar-expand-lg">
        <a class="navbar-brand" href="./index.html">
            <img src="./Imagens/bussola_logo.png" width="30px">
            Bússola Tour
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
            aria-expanded="false" aria-label="navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="./index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="./FrontEnd/Destinos.html" class="nav-link">Destinos</a></li>
                <li class="nav-item"><a href="./FrontEnd/Promocoes.html" class="nav-link">Promoções</a></li>
                <li class="nav-item"><a href="./FrontEnd/Contato.html" class="nav-link">Contato</a></li>
                <li class="nav-item active"><a href="./FrontEnd/login.html" class="nav-link">Entre ou Cadastre-se</a></li>
            </ul>
        </div>
    </nav>
    <!--Menu-->

    <header class="container-fluid">
        <h1 class="revelar">Bem Vindo a Agência de Viagens <strong id="marca">Bússola Tour</strong>!</h1>
        <p class="revelar">Estamos prontos para fazer sua viagem uma lembraça inesquecível. Confira nossos Destinos e Promoções.</p>
    </header>

    <main>
        <!--Boxes de Informações-->
        <section>
            <h2 class="titulos revelar">Descubra sua próxima viagem</h2>
        </section>

        <section>
            <p class="tamanho_texto controleTam revelar">Temos uma variedade de destinos e condições impredíveis para que você possa
                viajar tranquilo.</p>
        </section>


        <section>
            <h2 class="titulos controleTam revelar">Cuidamos de tudo pra Você!</h2>
        </section>

        <section>
            <p class="tamanho_texto controleTam revelar">Confira os nossos pacotes especiais que <br>incluem hospedagem, passeios, guias
                e transporte.</p>
        </section>

        <section>
            <h2 class="titulos controleTam revelar">Atendimento Personalizado</h2>
        </section>

        <section>
            <p class="tamanho_texto controleTam revelar">Para um Atendimento Personalizado, visite uma de nossas filiais e converse
            com nossos corretores.
            <p>
        </section>

        <section>
            <h2 class="titulos controleTam revelar">Conheça o Mundo através da Bússola Tour!</h2>
        </section>
        <!--Boxes de Informações-->
    </main>

    <!--Rodapé-->
    <hr class="mt-5">
    <footer class="container rodape">
        <div class="container col-4 mb-3" id="boxRedes">
            <a href="#" class="ml-2"><img src="./Imagens/facebook_icon.png" width="40px" class="tamRedes" alt="ícone facebook"></a>
            <a href="#" class="ml-2"><img src="./Imagens/Instagram_icon.png" width="40px" class="tamRedes" alt="ícone instagram"></a>
            <a href="#" class="ml-2"><img src="./Imagens/email_icon.png" width="40px" class="tamRedes" alt="ícone email"></a>
            <a href="#" class="ml-2"><img src="./Imagens/telegram_icon.png" width="40px" class="tamRedes" alt="ícone telegram"></a>
            <a href="#" class="ml-2"><img src="./Imagens/linkedin_icon.png" width="40px" class="tamRedes" alt="ícone linkedin"></a>
        </div>

        <p>Proporcionado Viagens de Qualidade</p>
        <span>&copy;Bússola Tour</span>

    </footer>
    <script src="./Scripts/ScrollReveal.js"></script>
</body>

</html>